*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
app/build/
*/build/
.navigation/
captures/
*.jks
*.keystore
google-services.json
.kotlin/
